<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="ManagerServiceLogin" value="ManagerServiceUser"/>
    <add key="ManagerServicePassword" value="njdUJW395(#$"/>
    <add key="Meta5ServerAddress" value="217.12.97.54:443"/>
    <add key="Meta5ManagerLogin" value="100109"/>
    <add key="Meta5ManagerPassword" value="123456qwe"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <!--
  *
  *   log4net
  *
  -->

  <log4net>
    <appender name="MT5ManagerClientRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=""/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'-MT5ManagerClient.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%utcdate [%thread] %-5p %c{1} %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="MT5ManagerClientRollingLogFileAppender"/>
    </root>
  </log4net>

  <!--
  *
  *   WCF
  *
  -->

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:891/MT5ManagerService" name="MT5ManagerSSLEndpoint" binding="netTcpBinding" bindingConfiguration="MT5ManagerSSLBinding" behaviorConfiguration="MT5ManagerClientBehavior" contract="Manager.MT5.Contract.IMT5ManagerContract">
        <identity>
          <dns value="TickTraderManagerService"/>
        </identity>
      </endpoint>      
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="MT5ManagerSSLBinding" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" closeTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <!-- SSL feature -->
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MT5ManagerClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!-- SSL feature -->
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>
