<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="ManagerServiceLogin" value="ManagerServiceUser"/>
    <add key="ManagerServicePassword" value="njdUJW395(#$"/>
    <add key="Meta4Support" value="1"/>
    <add key="Meta4ServerAddress" value="ecn.ag.dv2.pvt.soft-fx.eu:443"/>
    <add key="Meta4ManagerLogin" value="25"/>
    <add key="Meta4ManagerPassword" value="8XtOHqC"/>
    <add key="Meta5Support" value="1"/>
    <add key="Meta5ServerAddress" value="217.12.97.81:443"/>
    <add key="Meta5ManagerLogin" value="1001009"/>
    <add key="Meta5ManagerPassword" value="Qwerty123"/>
    <add key="TPSupport" value="1"/>
    <add key="TPServerAddress" value="exchange.tts.dv.soft-fx.eu"/>
    <add key="TPManagerLogin" value="2001"/>
    <add key="TPManagerPassword" value="huN_WC6X1C"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <!--
  *
  *   log4net
  *
  -->

  <log4net>

    <appender name="AsyncForwardingAppender" type="Manager.Service.AsyncForwardingAppender, Manager.Service">
      <appender-ref ref="DebugLogFileAppender"/>
      <appender-ref ref="InfoLogFileAppender"/>
      <appender-ref ref="ErrorLogFileAppender"/>
    </appender>

    <appender name="DebugLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <dateTimeStrategy type="log4net.Appender.RollingFileAppender+UniversalDateTime"/>
      <file value="ManagerService\MS"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value=" yyyy-MM-dd [HH]' Debug.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%property{ThreadId}] %-5p %c{1} %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>

    <appender name="InfoLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <dateTimeStrategy type="log4net.Appender.RollingFileAppender+UniversalDateTime"/>
      <file value="ManagerService\MS"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value=" yyyy-MM-dd [HH]' Info.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%property{ThreadId}] %-5p %c{1} %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>

    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <dateTimeStrategy type="log4net.Appender.RollingFileAppender+UniversalDateTime"/>
      <file value="ManagerService\MS"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value=" yyyy-MM-dd [HH]' Error.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%property{ThreadId}] %-5p %c{1} %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="AsyncForwardingAppender"/>
    </root>

  </log4net>

  <!--
  *
  *   WCF
  *
  -->

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MT4ManagerSSLServiceBehavior" name="Manager.MT4.Core.MT4ManagerCore">
        <endpoint address="net.tcp://localhost:890/MT4ManagerService" name="MT4ManagerSSLEndpoint" binding="netTcpBinding" bindingConfiguration="MT4ManagerSSLServiceBinding" contract="Manager.MT4.Contract.IMT4ManagerContract">
        </endpoint>
      </service>
      <service behaviorConfiguration="MT5ManagerSSLServiceBehavior" name="Manager.MT5.Core.MT5ManagerCore">
        <endpoint address="net.tcp://localhost:891/MT5ManagerService" name="MT5ManagerSSLEndpoint" binding="netTcpBinding" bindingConfiguration="MT5ManagerSSLServiceBinding" contract="Manager.MT5.Contract.IMT5ManagerContract">
        </endpoint>
      </service>
      <service behaviorConfiguration="TPManagerSSLServiceBehavior" name="Manager.TP.Core.TPManagerCore">
        <endpoint address="net.tcp://localhost:892/TPManagerService" name="TPManagerSSLEndpoint" binding="netTcpBinding" bindingConfiguration="TPManagerSSLServiceBinding" contract="Manager.TP.Contract.ITPManagerContract">
        </endpoint>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="MT4ManagerSSLServiceBinding" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" closeTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
          <!-- SSL feature
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate"/>
            <message clientCredentialType="UserName"/>
          </security>
          -->
        </binding>
        <binding name="MT5ManagerSSLServiceBinding" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" closeTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
          <!-- SSL feature
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate"/>
            <message clientCredentialType="UserName"/>
          </security>
          -->
        </binding>
        <binding name="TPManagerSSLServiceBinding" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" closeTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
          <!-- SSL feature
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate"/>
            <message clientCredentialType="UserName"/>
          </security>
          -->
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MT4ManagerSSLServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!-- SSL feature                                
          <serviceCredentials>
            <serviceCertificate findValue="TickTraderManagerService" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Manager.Service.CustomUserNameValidator, Manager.Service"/>
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Manager.Service.CustomCertificateValidator, Manager.Service" trustedStoreLocation="LocalMachine"/>
            </clientCertificate>
          </serviceCredentials>
          -->
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>
        <behavior name="MT5ManagerSSLServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!-- SSL feature                                
          <serviceCredentials>
            <serviceCertificate findValue="TickTraderManagerService" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Manager.Service.CustomUserNameValidator, Manager.Service"/>
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Manager.Service.CustomCertificateValidator, Manager.Service" trustedStoreLocation="LocalMachine"/>
            </clientCertificate>
          </serviceCredentials>
          -->
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>
        <behavior name="TPManagerSSLServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!-- SSL feature                      
          <serviceCredentials>
            <serviceCertificate findValue="TickTraderManagerService" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Manager.Service.CustomUserNameValidator, Manager.Service"/>
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Manager.Service.CustomCertificateValidator, Manager.Service" trustedStoreLocation="LocalMachine"/>
            </clientCertificate>
          </serviceCredentials>
          -->
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
