<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="ManagerServiceLogin" value="ManagerServiceUser"/>
    <add key="ManagerServicePassword" value="njdUJW395(#$"/>
    <add key="TPSupport" value="1"/>
    <add key="TPServerAddress" value="exchange.tts.dv.soft-fx.eu"/>
    <add key="TPManagerLogin" value="2001"/>
    <add key="TPManagerPassword" value="huN_WC6X1C"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <!--
  *
  *   log4net
  *
  -->

  <log4net>
    <appender name="TPManagerClientRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=""/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'-TPManagerClient.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%utcdate [%thread] %-5p %c{1} %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="TPManagerClientRollingLogFileAppender"/>
    </root>
  </log4net>

  <!--
  *
  *   WCF
  *
  -->

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:892/TPManagerService" name="TPManagerSSLEndpoint" binding="netTcpBinding" bindingConfiguration="TPManagerSSLBinding" behaviorConfiguration="TPManagerClientBehavior" contract="Manager.TP.Contract.ITPManagerContract">
        <identity>
          <dns value="TickTraderManagerService"/>
        </identity>
      </endpoint>      
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="TPManagerSSLBinding" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" closeTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <!-- SSL feature -->
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="TPManagerClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!-- SSL feature -->
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
