<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="ManagerServiceLogin" value="ManagerServiceUser"/>
    <add key="ManagerServicePassword" value="njdUJW395(#$"/>
    <add key="Meta4ServerAddress" value="ecn.ag.dv2.pvt.soft-fx.eu:443"/>
    <add key="Meta4ManagerLogin" value="25"/>
    <add key="Meta4ManagerPassword" value="8XtOHqC"/>
    <add key="Meta4TestAccountLogin" value="710025"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  
  <!--
  *
  *   log4net
  *
  -->

  <log4net>
    <appender name="MT4ManagerClientRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=""/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'-MT4ManagerClient.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%utcdate [%property{ThreadId}] %-5p %c{1} %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="MT4ManagerClientRollingLogFileAppender"/>
    </root>
  </log4net>

  <!--
  *
  *   WCF
  *
  -->

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:890/MT4ManagerService" name="MT4ManagerSSLEndpoint" binding="netTcpBinding" bindingConfiguration="MT4ManagerSSLBinding" behaviorConfiguration="MT4ManagerClientBehavior" contract="Manager.MT4.Contract.IMT4ManagerContract">
        <identity>
          <dns value="TickTraderManagerService"/>
        </identity>
      </endpoint>      
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="MT4ManagerSSLBinding" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" closeTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
          <!-- SSL feature
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate"/>
            <message clientCredentialType="UserName"/>
          </security>
          -->
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MT4ManagerClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!-- SSL feature
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
          -->
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>
